html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
  overflow: hidden;
}

#form {
  display: flex;
  position: absolute;
  top: 75%;
  left: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.initial-view {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.half {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left {
  background-image: url("/static/img/fruit_apple.png");
  background-color: #ea3d41;
}

.right {
  background-image: url("/static/img/fruit_orange.png");
  background-color: #e7a043;
}

.text-apple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  color: #eee;
  font-weight: bold;
  font-size: 12rem;
  font-family: system-ui;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.text-orange {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
  color: #eee;
  font-weight: bold;
  font-size: 12rem;
  font-family: system-ui;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.carousel {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.list {
  width: 100%;
  height: 100%;
}

.item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item img.fruit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  width: 90%;
  pointer-events: none;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  font-weight: bold;
  font-size: 12rem;
  font-family: system-ui;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.item.active {
  display: block;
}

.item.hidden {
  display: block;
  z-index: 1;
  background-color: transparent;
  pointer-events: none;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
  cursor: pointer;
  border: 1px solid #eee9;
  border-radius: 50%;
  background-color: transparent;
  background-color: #eee5;
  width: 50px;
  height: 50px;
  color: #eee;
  font-size: x-large;
  font-family: monospace;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

@keyframes toActive {
  from {
    top: 100%;
    opacity: 0;
  }
}

@keyframes toOut {
  from {
    top: 50%;
    opacity: 1;
  }
}

.item.active img.fruit {
  animation: toActive 0.5s ease-in-out 1;
}

.item.hidden img.fruit {
  top: -100%;
  opacity: 0;
  animation: toOut 0.8s ease-in-out 1;
}

.item.active .content {
  animation: toActive 0.8s ease-in-out 1;
}

.item.hidden .content {
  opacity: 0;
}

.carousel.right .item.active img.fruit {
  animation: toActivePrev 0.5s ease-in-out 1;
}

.carousel.right .item.hidden img.fruit {
  top: 100%;
  opacity: 0;
  animation: toOut 0.8s ease-in-out 1;
}

.carousel.right .item.active .content {
  animation: toActivePrev 0.8s ease-in-out 1;
}

@keyframes toActivePrev {
  from {
    top: 0;
    opacity: 0;
  }
}

:root {
  --width-mockup: calc(371px / 1.5);
  --height-mockup: calc(673px / 1.5);
}

.mockup {
  position: absolute;
  top: 50%;
  left: 50%;
  --left: 0%;
  transform: translate(-50%, -50%);
  background-size: auto 100%;
  background-blend-mode: multiply;
  width: var(--width-mockup);
  height: var(--height-mockup);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: auto 100%;
  transition: background 0.5s;
}

@media screen and (max-width: 768px) {
  .item .content {
    transform: translate(-50%, -50%) scale(0.5);
  }

  .item img.fruit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  color: #333;
  font: 15px/24px "Muli", sans-serif;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.col {
  position: relative;
  float: left;
  margin: 10px;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  color: #000000;
  font: 15px/24px "Lato", Arial, sans-serif;
  letter-spacing: 1px;
}

input::placeholder {
  color: #000000;
}

.effect {
  position: relative;
  border: 0;
  border: 1px solid #ccc;
  background-color: rgba(250, 235, 215, 0.255);
  padding: 7px 15px;
}

.effect ~ .focus-bg:before,
.effect ~ .focus-bg:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  background-color: #ededed;
  width: 0;
  height: 0;
  content: "";
}

.effect:focus ~ .focus-bg:before {
  transition: 0.3s;
  width: 50%;
  height: 100%;
}

.effect ~ .focus-bg:after {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

.effect:focus ~ .focus-bg:after {
  transition: 0.3s;
  width: 50%;
  height: 100%;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 18px;
}

.btn-style {
  position: relative;
  background-color: #fff;
  padding: 18px 32px;
  width: 186px;
  height: 50px;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 18px;
}

.btn-style::before {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 9;
  border: 1px solid #2e2e2e;
  width: 186px;
  height: 50px;
  content: "";
}

@media (max-width: 1366px) {
  .text-apple {
    font-size: 9rem;
  }

  .text-orange {
    font-size: 9rem;
  }
}

@media (max-width: 768px) {
  .initial-view {
    flex-direction: column;
  }

  .text-apple {
    font-size: 6rem;
  }

  .text-orange {
    font-size: 6rem;
  }
}

@media (max-width: 420px) {
  .text-apple {
    font-size: 3rem;
  }

  .text-orange {
    font-size: 3rem;
  }
}
